* {
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
}

.title {
  background-color: #ff9f5a;
  display: inline-block;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 25vw;
  height: 9vh;
  font-size: 1.3vw;
  margin-left: 115px;
}

.header_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  text-align: center;
  margin-top: 1vw;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  margin: 5px;
  margin-left: 15px;
}

.links {
  margin-top: 20px;
  margin-right: 60px;
  font-size: 1.3vw;
}

.move30 {
  margin-left: 40px;
}

.Space {
  height: 18vh;
}

.Welcome {
  font-size: 1.8vw;
  text-align: center;
}

.Button {
  background-color: #e6e6e6;
  display: inline-block;
  width: 30vw;
  height: 20vh;
  font-size: 3vw;
  border-radius: 50px;
}

.Button a {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.entertext {
  font-size: 3vw;
}

.leftText {
  margin-left: 3vw;
}

.resName {
  background-color: #e6e6e6;
  display: inline-flex;
  width: auto;
  height: 15vh;
  font-size: 2.8vw;
  border-radius: 50px;
  margin-left: 70px;
  margin-top: 50px;
}

.resName a {
  margin: 20px;
  margin-top: 30px;
}

.table{
  background-color: #e6e6e6;
  display: inline-flex;
  width: auto;
  height: 15vh;
  font-size: 2.8vw;
  border-radius: 50px;
  margin-left: 70px;
  margin-top: 20px;
  
}

.table a {
  margin: 20px;
  margin-top: 30px;
}

.eightTable{
  background-color: #e6e6e6;
  display: inline-flex;
  width: auto;
  height: 40vh;
  font-size: 2.8vw;
  border-radius: 50px;
  margin-left: 70px;
  margin-top: 0px;
  
}

.eightTable a {
  margin: 20px;
  margin-top: 150px;
  
}

.table_layout1{
  margin-top: 50px;
  display: flex;
}

.fourtable{
  width: 40vw;
}

.fourtable div{
  margin-top: 30px;
}

.twoTable{
  background-color: #e6e6e6;
  display: inline-flex;
  width: auto;
  height: 15vh;
  font-size: 2.8vw;
  border-radius: 50px;
  margin-left: 70px;
  margin-top: 0px;
}

.twoTable a {
  margin: 10px;
  margin-top: 34px;
  
}

.twotable{
  width: 30vw;
}

.twotable div{
  margin-top: 3vh;
}

.tst {
 margin-right: 50px;
}